{%extends 'store/main.html'%}
{%load static%}
    {% block content%}
        <div class="row pt-5">
            <div class="col-sm-12">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <div class="d-flex flex-md-row flex-column justify-content-between pt-3 ps-5">
                            <div class="p-5"><h5>Items: <strong>{{order.get_order_quantity}}</strong></h5></div>
                            <div class="p-5"><h5>Total: <strong>${{order.get_order_total}}</strong></h5></div>
                            <div class="p-5"><a href="{% url 'store:checkout' %}" class="ps-3"><button type="button" class="btn blue-btn">Checkout</button></a></div>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-5 h-100">
            <div class="col-sm-12">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <hr>
                        {%for item in items%}
                        <div class="d-flex flex-md-row flex-column justify-content-center align-items-center pt-3 ps-5">
                            <div class="p-3 flex-fill"><img src="{{item.product.imageURL}}" class="sm-image"></div>
                            <div class="p-3 flex-fill"><p>{{item.product.name}}</p></div>
                            {%if item.product.is_sale%}
                                <div class="p-3 flex-fill"><p>$ {{item.product.sale_price}}</p></div>
                            {%else%}
                                <div class="p-3 flex-fill"><p>$ {{item.product.price}}</p></div>
                            {%endif%}
                            <div class="p-3 flex-fill">
                                    <span>{{item.quantity}}</span>
                                    <img src="{% static 'images/up.png' %}" alt="" class="chg-quantity update-cart" data-product="{{item.product.id}}" data-action='add'>
                                    <img src="{% static 'images/down.png' %}" alt="" class="chg-quantity update-cart" data-product="{{item.product.id}}" data-action='remove'>         
                            </div>
                            <div class="p-3 flex-fill"><p>$ {{item.get_total}}</p></div>
                        </div>
                        <hr>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    {%endblock content %}
