{%extends 'store/main.html'%}
{%load static%}
    {% block content%}
        <div class="row pt-4 justify-content-evenly h-100">
            <div class="pb-4">
                <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-secondary blue-btn"><</button></a>
            </div>
            <div class="col-xs-12 col-sm-6">   
                <div class="row justify-content-sm-center h-100 pb-5">
                    <div class="col">
                        <div class="card shadow-lg">
                            <div class="card-body blue p-5">
                                <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                                    <div class="row">
                                      <div class="col">
                                        <label class="mb-2" for="email">E-Mail</label>
                                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                      </div>
                                      <div class="col">
                                        <label class="mb-2" for="name">Name</label>
                                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            Name is required	
                                        </div>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row pt-5 justify-content-sm-center h-100">
                        <div class="col">
                            <div class="card shadow-lg">
                                <div class="card-body blue p-5">
                                    <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                                        <div class="row">
                                            <div class="col">
                                                <label class="mb-2" for="address">Address</label>
                                                <input id="address" type="text" class="form-control" name="address" value="" required autofocus>
                                                <div class="invalid-feedback">
                                                    Address is invalid
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="mb-2" for="city">City</label>
                                                <input id="city" type="text" class="form-control" name="city" value="" required autofocus>
                                                <div class="invalid-feedback">
                                                    City is required	
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-1">
                                            <div class="col">
                                              <label class="mb-2" for="address">State</label>
                                              <input id="state" type="text" class="form-control" name="state" value="" required autofocus>
                                              <div class="invalid-feedback">
                                                  State is invalid
                                              </div>
                                            </div>
                                            <div class="col">
                                              <label class="mb-2" for="name">Zip Code</label>
                                              <input id="zipcode" type="text" class="form-control" name="zipcode" value="" required autofocus>
                                              <div class="invalid-feedback">
                                                  Zip Code is required	
                                              </div>
                                            </div>
                                          </div>
                                      </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h5>Order Summary</h5>
                        <hr>
                        <div class="cart-row d-flex justify-content-around">
                            <div class="p-2"><img class="row-image" src="#"></div>
                            <div class="p-2"><p>Product 1</p></div>
                            <div class="p-2"><p>$20.00</p></div>
                            <div class="p-2"><p>x2</p></div>
                        </div>
                        <hr>
                        <h5>Items:   2</h5>
                        <h5>Total:   $4</h5>
                    </div>
                </div>
            </div>
        </div>    
    {%endblock content %}