{%extends 'store/main.html'%}
{%load static%}
    {% block content%}
        <div class="row pt-4 justify-content-evenly h-100">
            <div class="col-xs-12 col-md-6">   
            <form id="form" class="needs-validation" novalidate="" autocomplete="off">
                <div class="row justify-content-center h-100">
                    <div class="col-sm-12">
                        <div class="card shadow-lg mb-4" id="personal-info">
                            <div class="card-body blue p-5">
                                <div class="row">
                                      <div class="col">
                                        <label class="mb-2" for="email">E-Mail</label>
                                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            Email is invalid
                                        </div>
                                      </div>
                                      <div class="col">
                                        <label class="mb-2" for="name">Name</label>
                                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                                        <div class="invalid-feedback">
                                            Name is required	
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-lg " id="shipping-info">
                            <div class="card-body blue p-5">
                                <div class="row">
                                        <div class="col">
                                            <label class="mb-2" for="address">Address</label>
                                            <input id="address" type="text" class="form-control" name="address" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                    Address is invalid
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="mb-2" for="city">City</label>
                                            <input id="city" type="text" class="form-control" name="city" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                    City is required	
                                            </div>
                                        </div>
                                </div>
                                <div class="row pt-1">
                                        <div class="col">
                                            <label class="mb-2" for="address">State</label>
                                            <input id="state" type="text" class="form-control" name="state" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                  State is invalid
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="mb-2" for="name">Zip Code</label>
                                            <input id="zipcode" type="text" class="form-control" name="zipcode" value="" required autofocus>
                                            <div class="invalid-feedback">
                                                  Zip Code is required	
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="col-sm-3 pt-4">
                        <input id="form-button" class="btn blue-btn" type="submit" value="Continue">
                    </div>                
                </div>  
            </form>
            <div class="card shadow-lg hidden mt-3" id="payment-info">
                <div class="card-body">
                    <small>Paypal Options</small>
                    <button id='make-payment' type="button" class="btn blue-btn">Make Payment</button>                    
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h5>Order Summary</h5>
                        <hr>
                        {%for item in items%}
                        <div class="d-flex justify-content-between">
                            <div class="p-2 flex-fill">
                                <span>{{item.quantity}}x</span>
                            </div>
                            <div class="p-2 flex-fill"><img src="{{item.product.imageURL}}" class="xs-image"></div>
                            <div class="p-2 flex-fill"><p>{{item.product.name}}</p></div>
                            <div class="p-2 flex-fill"><p>${{item.product.price|floatformat:2}}</p></div>
                        </div>
                        {%endfor%}
                        <hr>
                        <div class="d-flex justify-content-between">
                            <h5 class="p-2">Items: {{order.get_order_quantity}}</h5>
                            <h5 class="p-2">Total: ${{order.get_order_total|floatformat:2}}</h5>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        var total = "{{order.get_order_total}}"
        if (user != 'AnonymousUser') {
            document.getElementById('personal-info').classList.add('hidden')
        }


        var form = document.getElementById('form')

        form.addEventListener('submit', function (e) {
        e.preventDefault()
            console.log('form submitted')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
            
        })

        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })

        function submitFormData() {
            console.log('Total', total)

            var userData = {
                'name': null,
                'email': null,
                'total': total
            }

            if (user == 'AnonymousUser') {
                userData.name = form.name.value
                userData.email = form.email.value
            }
            

            var shippingData = {
                'address': form.address.value,
                'city': form.city.value,
                'state': form.state.value,
                'zipcode': form.zipcode.value
            }

            console.log('User', userData)
            console.log('Shipping', shippingData)
            
            var url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                },
                body: JSON.stringify({ 'userData': userData, 'shippingData': shippingData })
            })
                .then((response) => {
                    response.json()
                })
                .then((data) => {
                    console.log('Success', data)
                    alert('Transaction Completed')
                    window.location.href="{% url 'index'%}"
            })
        }
        </script>
    {%endblock content %}