{%extends 'store/main.html'%}
{%load static%}
{% block content%}
        <div class="container w-75 pt-5">
            <!-- Product -->
            <div class="row justify-content-around align-items-center pb-5 pt-2 pe-5 ps-5" style="background-color: #ffffff;">
                <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 pt-4">
                    <img src="{{product.imageURL}}" class="product-image me-3" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 pt-4">
                    <div class="product-text">
                        <span class="product-title w-50">{{product.name}}</span>
                        <p class="product-desc">{{product.description}}</p>
                        {%if product.is_sale%}
                            <div class="card-text fs-3">
                                <span style="text-decoration: line-through; color:#a7a7a8">$ {{product.price|floatformat:2}}</span>
                                <span style="color: green !important;">$ {{product.sale_price|floatformat:2}}</span>
                            </div> 
                        {%else%}
                            <p class="fs-3">${{product.price}}</p>
                        {%endif%}
                        <button type="button" class="btn blue-btn update-cart" data-product="{{product.id}}" data-action='add'>
                            Add to Cart</button>
                    </div>
                    
                </div>
            </div>
        </div>
    {%endblock content %}    