{%extends 'store/main.html'%}
{%load static%}
  {% block content%}
    <div class="container container-store">
        <div class="row store row-cols-1 row-cols-md-4 g-4 pb-5">
            <div class="col-sm-12">
                <span style="font-weight: 500; font-size: 36px;">Store</span>
            </div>

            {% for product in products %}
            <div class="col products">
                <div class="card text-center h-100">
                    <a href="#">
                        <img src="{{product.imageURL}}" class="card-img-top index-store-image">
                        <div class="card-body" style="color:#393D46">
                            <h5 class="card-title" style="font-size: 14px;">{{product.name}}</h5>
                            <p class="card-text" style="font-size: 12px;">$ {{product.price|floatformat:2}}</p>
                            <button type="button" class="btn blue-btn">Add to Cart</button>
                        </div> 
                    </a>  
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {%endblock content %}    